<!DOCTYPE html>
<html>
<head>
  <title>Hello Stranger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="text-align:center">

	<h1>Hello!</h1>
	<%= image_tag @pic %>
	<h2>This is a great Nick Cage meme. Would you like to see another great Nick Cage meme?</h2>
	<h3><%= link_to "YES!!!", nick_path(:nick => "alt") %></h3>

</body>
</html>